@font-face{
  font-family: megrim;
  src: url(font/megrim.ttf);
}
#leftnav{
  float: left;
}
#rightnav{
  float: right;
}
#heading{
  display: inline-block;
  width: 18vw;
}
#navbar{
  background: white;
}
nav{
  width: 40vw;
}
h1{
  font-size: 3vw;
  margin: 0;
  position: absolute;
  margin-top: 1vw;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
a{
  font-family: megrim;
  text-decoration: none;
  color: black;
}
#header ul > li:first-child{
  margin-left: 15%;
}
#header ul > li:nth-child(2){
  float: right;
  margin-right: 18%;
}
li{
display: inline-block;
font-size: 1.5vw;
}

body{
  background-image: url(img/articleback.jpg);
  background-color: #EBECEE;
  background-size: contain;
  background-repeat: no-repeat;
}
/*NAV BAR + BACKGROUND*/
#content{
  margin: 8% 15% 0 0;
  width: 45%;
  float: right;
}
#rightsnippet{
  padding-bottom: 3%;
  border: 2px solid rgba(25, 29, 34, 0.842);
  box-shadow: 10px 10px 8px #888888;
  border-radius: 5px;
}
#middle{
  width: 90%;
  margin-left: 5%; 
  padding-bottom: 3%;
  background: rgba(140, 141, 141, 0.801);
  box-shadow: 10px 10px 8px #888888;
  border: 2px solid rgba(112, 112, 112, 0.801);
  border-radius: 5px;
}
#middle h2,
#middle h3{
  color: #4D555B;
}
#middle p{
  margin: 1%;
  color: whitesmoke;
}
#rightsnippet p{
  color: rgba(25, 29, 34, 0.842);
}
#middle p,
#rightsnippet p{
  text-align: justify;
  font-family: 'Trebuchet MS';
  width: 90%;
  margin-left: 3%;
}
#articlelist li{
  font-size: 120%;
  margin-bottom: 5%;
  font-family: monospace;
  padding-top: 3%;
}
#listcontainer{
  text-align: center
}
article{
  height: 40%;
}
.lcolumn p,
.mcolumn p{
  font-family: monospace;
  width: 20vw;
  font-size: 120%;
  text-align: center;  
}
.pmodal{
  background-color: inherit;
}
img{
  width: 100%;
  height: auto;
}
.snippetimg{
  max-width: 100%;
}
h2{
  color: rgba(25, 29, 34, 0.842);
  font-family: megrim;
  font-size: 1.5em;
  margin: 2% 0 0 0;
  padding-left: 3%;
}
h5{
  font-family: megrim;
  font-size: 1.5em;
  margin: 5% 0% 2.5% 3%;
}
h3{
  color: rgba(25, 29, 34, 0.842);
  font-family: megrim;
  text-align: center;
  font-size: 2em;
  margin: 0;
  
}
button{
  background-color: inherit;
  font-family: 'Trebuchet MS';
  margin-top: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  width: 100%;
  text-decoration: underline;
  color: #232429;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.733); 
}
.milk-content {
  background-color: #A4B8C7;
  margin: 5% auto;
  padding: 1% 3% 0% 1%;
  border: 1px solid #888;
  width: 60vw;
}
.prison-content {
  background-color: #A4B8C7;
  margin: 5% auto;
  padding: 1% 3% 0% 1%;
  border: 1px solid #888;
  width: 60vw;
}
h4{
  text-align: center;
  font-family: megrim;
  margin-top: 4%;
  font-size: 200%;
  width: 100%; 
}
.modalarticle{
  display:flex;
}
.lcolumn{
  width: 45%;
  padding: 3% 5% 3% 3%;
  border-right: 1px solid black;
}
.rcolumn{
  width: 45%;
  padding: 3% 3% 3% 3%;
  border-left: 1px solid black;
}
#milkfooter{
  color: antiquewhite;
  font-family: monospace;
}
.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.pclose {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
}
.pclose:hover,
.pclose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*media screen*/
.mp{
  display: none;
}

@media only screen and (max-width: 635px) {
  nav{
    display: none;
  }
  h1{
    font-size: 1.5em;
  }
  #middle,
  #rightsnippet{
    display: none;
  }
  #mdiv,
  #pdiv{
    display: inline;
    background-color: aqua;
  }
  .mp{
    display: block;
  }
  h4{
    font-size: 120%;
    text-align: left;
    width: 50%;
    display: block;
    margin: 10% 0% 5% 25%;
    text-align: center;
  }
  h6{
    border-top: 1px solid black;
    font-family: megrim;
    font-size: 2em;
    margin: 20px 3% 3% 3%;
    text-align: center;
  }
  .msub{
    background-color: transparent;
    margin-bottom: 8%;
  }
  .date{
    font-family: megrim;
    background-color: transparent;
    margin: 0%;
    padding-left: 0%;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 5%;
    border-bottom: 1px solid rgb(56, 29, 52);
  }
  nav{
    display: none;
  }
  p{
    width: 90%;
    padding-left: 5%;
    margin: 0 0 4% 0;
    background-color: transparent;
  }
  
}