@font-face{
    font-family: megrim;
    src: url(font/megrim.ttf);
}
#leftnav{
  float: left;
}
#rightnav{
  float: right;
}
#heading{
  display: inline-block;
  width: 18vw;
}
#navbar{
  background: white;
}
nav{
  width: 40vw;
}
h1{
  font-size: 3vw;
  margin: 0;
  position: absolute;
  margin-top: 1vw;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
a{
  font-family: megrim;
  text-decoration: none;
  color: white;
}
#header ul > li:first-child{
  margin-left: 15%;
}
#header ul > li:nth-child(2){
  float: right;
  margin-right: 18%;
}
li{
display: inline-block;
font-size: 1.5vw;
}
body{
  background-image: url(img/contactback.jpg);
  background-color: #231F20;
  background-position: 10% 5%;
  background-repeat: no-repeat;
}

/* FORM */
fieldset{
  width: 50%;
  top: 30%;
  left: 40%;
  position: fixed;
  border-color: #F5DF8A;
  border-radius: 5px;
}
label{
font-family: megrim;
}
p > input:first-child,
p > label:first-child{
  margin: 0 0% 0 20%;
}
p > input:nth-child(2),
p > label:nth-child(2){
  float: right;
  margin: 0 25% 0% 0;
}
label,
legend{
  color: #F5DF8A;
}
p > textarea:first-child{
  margin: 0 40% 0% 40%;
}