@font-face{
  font-family: megrim;
  src: url(font/megrim.ttf);
}
#leftnav{
  float: left;
}
#rightnav{
  float: right;
}
#heading{
  display: inline-block;
  width: 18vw;
}
#navbar{
  background: white;
}
nav{
  width: 40vw;
}
h1{
  font-size: 3vw;
  margin: 0;
  position: absolute;
  margin-top: 1vw;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
a{
  font-family: megrim;
  text-decoration: none;
  color: black;
}
#header ul > li:first-child{
  margin-left: 15%;
}
#header ul > li:nth-child(2){
  float: right;
  margin-right: 18%;
}
li{
display: inline-block;
font-size: 1.5vw;
}
body{
  background-image: url(img/lback.png);
  width: 100%;
  position: relative;
  background-size: cover;
}
/*NAV BAR + BACKGROUND*/

img{
  width:100%;
}
#position {
  width: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10vw;
  margin-top: -10vw;
}
#leftsnippet{
  float: left;
  margin-top: 10vh;
  margin-left: 10vw;
  border-radius: 10px;
  background: whitesmoke;
  border-left: 3px solid rgb(156, 82, 12);
  box-shadow: 10px 10px 8px #888888;
}
#middle {
  float: left;
  margin-top: 15vh;
  margin-left: 10vw;
  width: 20vw;
  height: 40vh;
  border-radius: 10px;
  background: whitesmoke;
  border-left: 3px solid rgb(156, 82, 12);
  box-shadow: 10px 10px 8px #888888;
}
#articlelist li{
  font-size: 120%;
  margin-bottom: 5%;
  font-family: monospace;
  padding-top: 3%;
}
#listcontainer{
  text-align: center
}

#rightsnippet{
  float: right;
  margin-top: 10vh;
  margin-right: 10vw;
  border-radius: 10px;
  background: whitesmoke;
  border-left: 3px solid rgb(156, 82, 12);
  box-shadow: 10px 10px 8px #888888;
}
article{
  height: 40%;
}
p{
  font-family: monospace;
  width: 20vw;
  font-size: 120%;
  text-align: center;  
}
.pmodal{
  background-color: inherit;
}
img{
  height: 45%;
  width: 20vw;
}
.snippetimg{
  max-width: 100%;
}
h2{
  font-family: megrim;
  font-size: 1.5em;
  margin: 2% 0 0 0;
  padding-left: 3%;
}
h5{
  font-family: megrim;
  font-size: 1.5em;
  margin: 5% 0% 2.5% 3%;
}
h3{
  font-family: megrim;
  text-align: center;
  font-size: 2em;
  margin: 0;
  
}

button{
  background-color: inherit;
  font-family: monospace;
  border: none;
  cursor: pointer;
  font-size: 150%;
  margin-top: 5%;
  width: 100%;
  text-decoration: underline;
  color: blue;
}