@font-face{
  font-family: megrim;
  src: url(font/megrim.ttf);
}
#leftnav{
  float: left;
}
#rightnav{
  float: right;
}
#heading{
  display: inline-block;
  width: 18vw;
}
#navbar{
  background: white;
}
nav{
  width: 40vw;
}
h1{
  font-size: 3vw;
  margin: 0;
  position: absolute;
  margin-top: 1vw;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
a{
  font-family: megrim;
  text-decoration: none;
  color: black;
}
#header ul > li:first-child{
  margin-left: 15%;
}
#header ul > li:nth-child(2){
  float: right;
  margin-right: 18%;
}
li{
display: inline-block;
font-size: 1.5vw;
}
body{
  background-color:rgba(198, 100, 255, 0.15);
}
#background{
  background: repeating-linear-gradient(
  45deg,
  rgba(180, 117, 165, 0.383),
  rgba(180, 117, 165, 0.383) 5px,
  rgba(84, 55, 77, 0) 5px,
  rgba(84, 55, 77, 0) 20px);
  margin-top: 4.5vh; 
  height: 92vh;
  z-index: -1;
background-size: 56.57px 56.57px;
}

img{
  width:100%;
}
#position {
  width: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10vw;
  margin-top: -10vw;
}