@font-face{
  font-family: megrim;
  src: url(font/megrim.ttf);
}
#leftnav{
  float: left;
  border-bottom: 1px solid purple;
}
#rightnav{
  float: right;
  border-bottom: 1px solid purple;
}
#heading{
  display: inline-block;
  width: 18vw;
}
#navbar{
  background: white;
}
nav{
  width: 40vw;
}
h1{
  font-size: 3vw;
  margin: 0;
  position: absolute;
  margin-top: 1.5vw;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
a{
  font-family: megrim;
  text-decoration: none;
  color: black;
}
ul > li:first-child{
  margin-left: 15%;
}
ul > li:nth-child(2){
  float: right;
  margin-right: 18%;
}
li{
display: inline-block;
font-size: 1.5vw;
}

#background{
  background-image: linear-gradient(45deg, #f2e0ff 25%, #fdedff 25%, #fdedff 50%, #f2e0ff 50%, #f2e0ff 75%, #fdedff 75%, #fdedff 100%);
  margin-top: 4.5vh; 
  height: 93vh;
background-size: 56.57px 56.57px;
}

img{
  width:100%;
}
#position {
  width: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10vw;
  margin-top: -10vw;
}