@font-face{
  font-family: megrim;
  src: url(font/megrim.ttf);
}

#wrapper{

}



#title{
  width: 100%;
  margin: auto;
  margin-top: -29.085px;
}
h1{
  display: inline-block;
  font-family: megrim;
  font-size: 3vw;
}
.line{
  display: inline-block;
  border-bottom: 2px solid #a66eb8;
  width: 40vw;
}
.lline{
  margin-right: 0%;
}
.rline{
  margin-left: 0%;
}
li{
  display: inline;
  font-family: megrim;
  font-size: 1.3vw;
}
.lli{
  margin-left: 5vw;
}
.rli{
  margin-left: 10vw;
}

a{
  text-decoration: none;
  color: black;
}

img{
  width:100%;
}

#homephoto {
  width: 20vw;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -10vw;
  margin-top: -10vw;
}